In [2]:
import pandas as pd
import os
from astropy.io import ascii

In [3]:
file_US="/home/bolacha/University/Project/code/data-example/selection_US.rdb"
file_EU="/home/bolacha/University/Project/code/data-example/selection_EU.rdb"

In [141]:
file1=pd.read_csv(file_US, sep = '\t',header=[2])
file2=pd.read_csv(file_EU, sep = '\t',header=[2])
d_US, d_EU = pd.DataFrame(file1), pd.DataFrame(file2)
d_US,d_EU = d_US.iloc[1:,:8], d_EU.iloc[1:,:8]
d_US.rename(columns={"null": "Name", "null.1": "DB source", "null.2": "Discovery Method", "JUPITERMASS" : "M_p/M_J", "JUPITERMASS.1": "M_p.sin(i)/M_J", "JUPITERRADIUS": "R_p/R_J", "DAY": "P (day)", "AU":"a (AU)"},inplace=True)
d_EU.rename(columns={"null": "Name", "null.1": "DB source", "null.2": "Discovery Method", "JUPITERMASS" : "M_p/M_J", "JUPITERMASS.1": "M_p.sin(i)/M_J", "JUPITERRADIUS": "R_p/R_J", "DAY": "P (day)", "AU":"a (AU)"},inplace=True)

In [142]:
d_US

,Name,DB source,Discovery Method,M_p/M_J,M_p.sin(i)/M_J,R_p/R_J,P (day),a (AU)
1,CoRoT-12 b,Nasa Exoplanet Archive,Transit,0.917,NaN,1.44,2.828042,0.04016
2,CoRoT-18 b,Nasa Exoplanet Archive,Transit,3.47,NaN,1.31,1.9000693,0.0295
3,HD 4208 b,Nasa Exoplanet Archive,Radial Velocity,0.81,0.81,NaN,832.97,1.662
4,HD 4313 b,Nasa Exoplanet Archive,Radial Velocity,1.927,1.927,NaN,356.21,1.157
5,HD 50499 b,Nasa Exoplanet Archive,Radial Velocity,1.636,1.636,NaN,2447.1,3.833
...,...,...,...,...,...,...,...,...
4005,HD 34445 e,Nasa Exoplanet Archive,Radial Velocity,0.0529,0.0529,NaN,49.175,0.2687
4006,HD 114783 c,Nasa Exoplanet Archive,Radial Velocity,0.611,0.611,NaN,4319,NaN
4007,HR 858 b,Nasa Exoplanet Archive,Transit,NaN,NaN,0.186,3.58599,0.048
4008,GJ 4276 b,Nasa Exoplanet Archive,Radial Velocity,0.05213,0.05213,NaN,13.352,0.082
4009,K2-168 b,Nasa Exoplanet Archive,Transit,NaN,NaN,0.191,15.853989,NaN

In [140]:
d_EU

,Name,DB source,Discovery Method,M_p/M_J,M_p.sin(i)/M_J,R_p/R_J,P (day)
1,BD+20 2457 b,Exoplanet.eu,Radial Velocity,NaN,21.42,NaN,379.63
2,2MASS J2250+2325 b,Exoplanet.eu,Imaging,30,NaN,NaN,NaN
3,CoRoT-26 b,Exoplanet.eu,Transit,0.52,NaN,1.26,4.20474
4,EPIC 220194974 d,Exoplanet.eu,Transit,NaN,NaN,0.146,9.7579
5,EPIC 248545986 d,Exoplanet.eu,Transit,0.0041,NaN,0.098,10.115
...,...,...,...,...,...,...,...
4092,WASP-167 b,Exoplanet.eu,Transit,8,NaN,1.51,2.0219591
4093,WASP-25 b,Exoplanet.eu,Transit,0.58,NaN,1.26,3.76483
4094,WD 0837+185 B,Exoplanet.eu,Radial Velocity,30,25,NaN,0.175
4095,eta Cet c,Exoplanet.eu,Radial Velocity,NaN,3.32,NaN,751.9
4096,tau Cet e,Exoplanet.eu,Radial Velocity,NaN,0.0124,NaN,162.87

# New features to add:
$\rightarrow$ Effective temperature
$\rightarrow$